body{
  background-color: #f7fff7, linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Jua', sans-serif;
  color: #f7fff7;
}

/*to fix overflow scrollbars in the mobile views !!!!*/
body,html {
  overflow-x: hidden;
}

#headline {
  padding-top: 26px;
}

hr {
  width: 50%;
}

#tip {
  margin-left: 10px;
  margin-right: 10px;
}

form {
  margin-bottom: 0px;
}

#content-container {
  color: #f7fff7;
  opacity: 0.8;
  border-radius: 74px;
  background: #ED194A;
  width: 50%;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding-bottom: 40px;

  position: absolute;
  left: 25%;
  z-index: 1;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#boxTip {
  color: black;
  border-radius: 15px;

  background: #f7fff7;
  width: 40%;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 10px;
  margin-top: -77px;
  padding-bottom: 10px;
  position: relative;
  left: 1.25%;
  z-index: 3;
  top: 20%;
}


.tip-test {
  display: flex;
  justify-content: center;
}

/* input und select boxes*/

#people-box input {
  margin-bottom: 20px;
}

input {
  font-family: 'Jua', sans-serif;
  font-size: 1em;
  background-color: #f7fff7;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 50%;
  text-align: center;
}

select {
  font-family: 'Jua', sans-serif;
  font-size: 1em;
  background-color: #f7fff7;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 50%;
}

/*button*/

#calculate {
  font-family: 'Jua', sans-serif;
  border: none;
  border-radius: 74px;
  background-color: #f7fff7;
  width: 80%;
  margin-top: 40px;
}

#calculate:hover {
  color: #f7fff7;
  background-color: #19edbc;
}

/*media*/

  @media only screen and (max-width: 767px) {

  #content-container {
    width: 80%;
    left: 6%;
  }
  #boxTip{
    /*width: 85%;*/
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 10px;
    width:fit-content;
    height:fit-content;
    top: 8%;
    left: 1.25%;
    max-width: 65%;
    min-width: 65%;
  }
}
